# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables & secrets
.env
.pypirc

# Test & coverage
htmlcov/
.tox/
coverage.xml
.pytest_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Others
.flake8